<!DOCTYPE html>
<html>
	<head>
		<meta charset ='utf-8'>
		<title></title>
	</head>
	<body>
		<h1>Mission Show Page</h1>
		The mission is <%=mission.name; %></br>
		It launched on <%=mission.launchDate; %></br>
		by: <%=mission.operator; %></br>
		the mission type was: <%=mission.missionType; %>
	</body>
</html>	
